@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

@import "tools.less?s";
@import "layouts.less";
@import "explore.less";


#header-step { height:@navbarHeight; }

.page-header { padding-bottom:0; }

.banner {
  position:relative;
  z-index:10;
  width:100%;
  height:350px;
  overflow:hidden;

  .douala {
    min-height:350px;    
    min-width:100%;
    max-width:none !important;

    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    display:block;
  }

  &.remove-height{
    margin-bottom:-350px;
  }
}

.cover-banner {
  position:relative;
  z-index:20;
}

.navbar a:hover {
  text-decoration: none;
}

.main-menu {
  padding-right:15px;  
}

.signup-form .form-horizontal  input{
	width:200px;
	
}

.account-form {
  
  form {
    margin:0;
  }

  h3 {
    padding-bottom:20px;
  }
}

.light-border input{
	.border-radius(5px);
	border:@grayLight 1px solid;
}



.login-form .forgot-password
{
font-size:13px;
padding-left: 15px;
}
.login-form .padbtn
{
font-size:13px;
padding-left: 50px;
padding-right:50px;
}

.bg-color{
	background-color:darken(@white, 20%);
	padding:10px 5px 5px;
	.border-radius(15px);
	.box-shadow(0 0 3px rgba(0, 0, 0, 0.15));
}
.bg-color-acc{
	background-color:darken(@white, 20%);
	padding:10px 5px 5px;
	.border-radius(	5px);
	.box-shadow(0 0 3px rgba(0, 0, 0, 0.15));
}
.bg-color-contribute
{
	background-color:darken(@white, 20%);
	padding:10px 5px 5px ;
	.border-radius(15px);
	.box-shadow(0 0 3px rgba(0, 0, 0, 0.15));
	width:720px;
}
.contribute-form , .contribute-form-s{
	padding-top:7px;
}
.contribute-form .form-horizontal .control-label {
	margin:0 0 0 5px;
	width:160px;
	text-align:left;
}
.contribute-form .bold{
	font-weight:@headingsFontWeight;
}
.contribute-form .form-horizontal select{
	width:165px;
	border:@grayLight 1px solid;
	.border-radius(5px);
}
.contribute-divider {
  border-bottom: 1px dotted #333;
  font-style:Italic;
  font-weight:bold;
  margin-bottom:5px;
}
.contribute-submit{
margin-left: 165px;
}
.label-contribute{
margin-left: 10px;
}
.alert{
	background-color:#168891; 
	border:none;
	color:@white;
	text-shadow:none;
	text-align:center;
}

.error .alert {
	background-color:#f3edd2;
	color:@warningText;
}


.current {

  select {
    border-color: #168891;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
  }
} 

.or-separator {
  margin-top:30px;
  text-align:center;
  position:relative;
  z-index:10;
  @separatorColor:#AAA;

  p {
    position:relative;
    z-index:15;
    background:white;
    display:block;
    color:@separatorColor;

    width:35px;
    height:35px;
    font-size:25px;
    line-height:33px;
    margin:20px auto;    
    border:1px solid @separatorColor;
    .border-radius(100%);
  }

  &:after {
    content:"";
    z-index:10;
    position:absolute;
    left:50%;
    top:0;

    width:1px;
    margin-left:-1px;
    height:100%;
    background:@separatorColor;
  }
}

.success-tick {
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  display: none;
  height: 14px;  
  line-height: 14px;
  margin-top: 1px;
  vertical-align: text-top;
  width: 14px;
  background-position: -72px -96px;
  display:inline-block;
}
	
.center{
	margin:0 auto;
}

.nav-list  li  a, .nav-list .nav-header {
	margin-right: -15px;
	margin-left: -15px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav li  a {
	display: block;
}

.danger-link {
  color:@red;

  &:hover {
    color:lighten(@red, 20%);    
  }
}